<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>

<div layout:fragment="content-wrapper">
    <!--  <div class="content">-->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">User list</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/admin/home/}">Home</a></li>
                        <li class="breadcrumb-item active">User Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="row">
        <!--table -->
        <div class="col-12">
              <div th:if="${failed!=null}" class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                  <div th:text="${failed}"></div>
              </div>

              <div th:if="${success!=null}" class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h5><i class="icon fas fa-check"></i> Alert!</h5>
                  <div th:text="${success}"></div>
              </div>

            <div class="card">
                <div class="card-header">

                    <a class="btn btn-primary" th:href="@{/admin/user/add}" role="button"> Add new user</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">ID</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="user:${listUserPage.iterator()}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getFullName()}"></td>
                            <td th:text="${user.getPassword()}"></td>
                            <td th:text="${user.getPhoneNumber()}"></td>
                            <td th:text="${user.getAddress()}"></td>
                            <td>
                                <div th:each="role:${user.getUserRoles().iterator()}" th:text="${role.getFeName()}"></div>

                            </td>
                            <td>
                                <a style="margin-top:5px;" class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete it ?')"
                                   th:href="@{/admin/user/delete(id=${user.getId()})}">Delete</a>
                                <a class="btn btn-warning" th:href="@{/admin/user/edit(id=${user.getId()})}"
                                   style="margin-top:5px;">Edit</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!-- /.card-body -->

            </div>

        </div>
        <!-- end table-->

       <!-- old paging-->
    <!--    <div th:if="${listUserPage.getTotalPages()>=0}">
            <ul>
                <li th:each="pageNumber:${#numbers.sequence(0, listUserPage.getTotalPages()-1)}"
                    th:attr="class=${activePage==pageNumber ? 'active page-item' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/user/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
                </li>
            </ul>
        </div>-->
      <!--  new paging-->
        <nav aria-label="Page navigation example" th:if="${listUserPage.getTotalPages()>1}">
            <ul class="pagination">
                <li class="page-item" ><a class="page-link" th:href="@{/admin/user/list(page=${activePage-1})}">Previous</a></li>
                <li class="page-item" th:each="pageNumber:${#numbers.sequence(0, listUserPage.getTotalPages()-1)}"
                    th:attr="class=${activePage==pageNumber ? 'active page-item' : 'page-item'}">


                    <a class="page-link"  th:href="@{/admin/user/list(page=${pageNumber})}" th:text="${pageNumber}"></a>


                </li>
                <li class="page-item"><a class="page-link" th:href="@{/admin/user/list(page=${activePage+1})}">Next</a></li>
            </ul>
        </nav>
    </div>


    <!--   </div>-->


</div>

