<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://https://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}"
>

<div layout:fragment="content-wrapper">
    <div class="content" >

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/admin/home/}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/admin/type/list}">Type List</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Edit Type</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" th:action="@{/admin/type/do-edit}" th:object="${productType}">
                <input type="hidden" th:field="*{id}">
                <div class="card-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{name}" class="form-control"  placeholder="Enter new name">
                    </div>


                    <div class="form-group">
                        <label>Status</label>
                        <select th:field="*{status}" class="form-control">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>





        <!-- /.container-fluid -->
    </div>


</div>


